<h1>5 biggest directories</h1>

<p>This component displays 5 biggest directories under provided path</p>

<div class="input-group mb-3">
  <input type="text" class="form-control" [(ngModel)]="path" placeholder="C:/SomeFolder">
  <div class="input-group-append">
    <button class="btn btn-primary" (click)="GetDirectoryData()">Show top 5 folders</button>
  </div>
</div>

<p *ngIf="directoryDataLoading"><em>Loading...</em></p>
<p class="message" *ngIf="message"><em>{{message}}</em></p>

<table class='table table-striped' *ngIf="directoryData">
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of directoryData">
      <td>{{ data.name }}</td>
      <td>{{ data.size }}</td>
    </tr>
  </tbody>
</table>



